/* This is a reset css to reset default setting of browser */


/*box sizing*/

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


/* Body defaults */

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    /* default is 1 */
}


/* Margins and Padding */

* {
    margin: 0;
    padding: 0;
}


/* list */

ul {
    list-style: none;
}


/* forms */

input,
textarea,
select,
button {
    color: inherit;
    font: inherit;
    letter-spacing: inherit;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
}

input,
textarea,
button {
    border: 1px solid #ccc;
}

button {
    padding: 0.75em 1em;
    line-height: inherit;
    border-radius: 0;
    background-color: transparent;
}


/*Media*/

img,
svg,
iframe,
video,
object,
embed {
    display: block;
    max-width: 100%;
}


/*tables*/

table {
    table-layout: fixed;
    width: 100%;
}